.parent {
    background-color: gold;
    width: 100%;
    padding: 8px;
}

.a {
    background-color: azure;
    width: 100%;
    padding: 5px;
}
.b {
    background-color: skyblue;
    width: 100%;
    padding: 5px;
}
